@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* Base styles */
body {
  @apply bg-black text-white antialiased;
  font-family: 'Poppins', sans-serif;
}

.show-scrollbar {
  scrollbar-width: auto !important;
  -ms-overflow-style: auto !important;
}

.show-scrollbar::-webkit-scrollbar {
  display: block !important;
}

.pop {
  font-family: "Poppins", serif;
}